#### The following Questions and solutions are for your reference and practice.
- We will work on the ipl matches and deliveries data set to practice frequently used commands for data manipulations

- Import pandas and numpy
- Read both matches and deliveries datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv('matches.csv')

- Check the Summary, shape and types of the variables in both the data sets

In [3]:
print(matches.shape)
print(matches.info()) #info gives the datatypes of all the variables

(636, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.5+ KB
None

In [4]:
print(matches.describe(include='all'))

                id       season    city        date           team1  \
count   636.000000   636.000000     629         636             636
unique         NaN          NaN      30         450              14
top            NaN          NaN  Mumbai  2016-04-16  Mumbai Indians
freq           NaN          NaN      85           2              82
mean    318.500000  2012.490566     NaN         NaN             NaN
std     183.741666     2.773026     NaN         NaN             NaN
min       1.000000  2008.000000     NaN         NaN             NaN
25%     159.750000  2010.000000     NaN         NaN             NaN
50%     318.500000  2012.000000     NaN         NaN             NaN
75%     477.250000  2015.000000     NaN         NaN             NaN
max     636.000000  2017.000000     NaN         NaN             NaN

                   team2     toss_winner toss_decision  result  dl_applied  \
count                636             636           636     636  636.000000
unique                14              14             2       3         NaN
top     Delhi Daredevils  Mumbai Indians         field  normal         NaN
freq                  84              85           363     626         NaN
mean                 NaN             NaN           NaN     NaN    0.025157
std                  NaN             NaN           NaN     NaN    0.156726
min                  NaN             NaN           NaN     NaN    0.000000
25%                  NaN             NaN           NaN     NaN    0.000000
50%                  NaN             NaN           NaN     NaN    0.000000
75%                  NaN             NaN           NaN     NaN    0.000000
max                  NaN             NaN           NaN     NaN    1.000000

                winner  win_by_runs  win_by_wickets player_of_match  \
count              633   636.000000      636.000000             633
unique              14          NaN             NaN             201
top     Mumbai Indians          NaN             NaN        CH Gayle
freq                92          NaN             NaN              18
mean               NaN    13.682390        3.372642             NaN
std                NaN    23.908877        3.420338             NaN
min                NaN     0.000000        0.000000             NaN
25%                NaN     0.000000        0.000000             NaN
50%                NaN     0.000000        4.000000             NaN
75%                NaN    20.000000        7.000000             NaN
max                NaN   146.000000       10.000000             NaN

                        venue          umpire1     umpire2  umpire3
count                     636              635         635      0.0
unique                     35               44          45      NaN
top     M Chinnaswamy Stadium  HDPK Dharmasena  SJA Taufel      NaN
freq                       66               73          54      NaN
mean                      NaN              NaN         NaN      NaN
std                       NaN              NaN         NaN      NaN
min                       NaN              NaN         NaN      NaN
25%                       NaN              NaN         NaN      NaN
50%                       NaN              NaN         NaN      NaN
75%                       NaN              NaN         NaN      NaN
max                       NaN              NaN         NaN      NaN

- Row and column selection
- Below is the example of how the variables and rows are selected using loc and iloc

In [5]:
matches.iloc[1:4, [1,4,5]]

   season                   team1                   team2
1    2017          Mumbai Indians  Rising Pune Supergiant
2    2017           Gujarat Lions   Kolkata Knight Riders
3    2017  Rising Pune Supergiant         Kings XI Punjab

In [6]:
matches.loc[1:4, ['season', 'team1', 'team2']]

   season                        team1                   team2
1    2017               Mumbai Indians  Rising Pune Supergiant
2    2017                Gujarat Lions   Kolkata Knight Riders
3    2017       Rising Pune Supergiant         Kings XI Punjab
4    2017  Royal Challengers Bangalore        Delhi Daredevils

- How to get the column.. one way is data['variable'] and other is data.variable

In [7]:
matches.city

0          Hyderabad
1               Pune
2             Rajkot
3             Indore
4          Bangalore
5          Hyderabad
6             Mumbai
7             Indore
8               Pune
9             Mumbai
10           Kolkata
11         Bangalore
12            Rajkot
13           Kolkata
14             Delhi
15            Mumbai
16         Bangalore
17             Delhi
18         Hyderabad
19            Rajkot
20         Hyderabad
21            Indore
22           Kolkata
23            Mumbai
24              Pune
25            Rajkot
26           Kolkata
27            Mumbai
28              Pune
29         Bangalore
           ...
606           Rajkot
607          Kolkata
608            Delhi
609        Hyderabad
610        Bangalore
611       Chandigarh
612    Visakhapatnam
613          Kolkata
614       Chandigarh
615    Visakhapatnam
616        Bangalore
617        Hyderabad
618    Visakhapatnam
619        Bangalore
620          Kolkata
621       Chandigarh
622    Visakhapatnam
623          Kolkata
624    Visakhapatnam
625        Bangalore
626           Kanpur
627           Raipur
628    Visakhapatnam
629           Kanpur
630          Kolkata
631           Raipur
632        Bangalore
633            Delhi
634            Delhi
635        Bangalore
Name: city, Length: 636, dtype: object

In [8]:
print(type(matches), type(matches.city))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [9]:
matches[['result', 'dl_applied']]

     result  dl_applied
0    normal           0
1    normal           0
2    normal           0
3    normal           0
4    normal           0
5    normal           0
6    normal           0
7    normal           0
8    normal           0
9    normal           0
10   normal           0
11   normal           0
12   normal           0
13   normal           0
14   normal           0
15   normal           0
16   normal           0
17   normal           0
18   normal           0
19   normal           0
20   normal           0
21   normal           0
22   normal           0
23   normal           0
24   normal           0
25   normal           0
26   normal           0
27   normal           0
28   normal           0
29   normal           0
..      ...         ...
606  normal           0
607  normal           0
608  normal           0
609  normal           0
610  normal           0
611  normal           0
612  normal           0
613  normal           0
614  normal           0
615  normal           0
616  normal           0
617  normal           0
618  normal           0
619  normal           0
620  normal           1
621  normal           0
622  normal           0
623  normal           0
624  normal           1
625  normal           1
626  normal           0
627  normal           0
628  normal           0
629  normal           0
630  normal           0
631  normal           0
632  normal           0
633  normal           0
634  normal           0
635  normal           0

[636 rows x 2 columns]

### Filter
- Let us suppose we need the records of all the matched played by Delhi Daredevils or all the matches that are played in delhi
- we use or condition

In [10]:
(matches.city == 'Delhi') | (matches.team1 == 'Delhi Daredevils') # brackets are a must

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8       True
9      False
10     False
11     False
12     False
13     False
14      True
15     False
16     False
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
606    False
607    False
608     True
609    False
610    False
611    False
612    False
613    False
614    False
615    False
616    False
617    False
618    False
619    False
620    False
621    False
622    False
623    False
624     True
625    False
626    False
627    False
628    False
629    False
630    False
631     True
632    False
633     True
634     True
635    False
Length: 636, dtype: bool

In [11]:
matches[(matches.city == 'Delhi') | (matches.team1 == 'Delhi Daredevils')]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
14,15,2017,Delhi,2017-04-15,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Delhi Daredevils,51,0,CJ Anderson,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN
17,18,2017,Delhi,2017-04-17,Delhi Daredevils,Kolkata Knight Riders,Delhi Daredevils,bat,normal,0,Kolkata Knight Riders,0,4,NM Coulter-Nile,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN
30,31,2017,Kolkata,2017-04-28,Delhi Daredevils,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,G Gambhir,Eden Gardens,NJ Llong,S Ravi,NaN
34,35,2017,Chandigarh,2017-04-30,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN
38,39,2017,Delhi,2017-05-02,Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,Mohammed Shami,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN
40,41,2017,Delhi,2017-05-04,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,7,RR Pant,Feroz Shah Kotla,M Erasmus,Nitin Menon,NaN
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN
50,51,2017,Delhi,2017-05-12,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,bat,normal,0,Delhi Daredevils,7,0,KK Nair,Feroz Shah Kotla,KN Ananthapadmanabhan,CK Nandan,NaN
54,55,2017,Delhi,2017-05-14,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,10,0,HV Patel,Feroz Shah Kotla,CK Nandan,C Shamshuddin,NaN
61,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
72,73,2008,Chandigarh,2008-04-27,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Kings XI Punjab,0,4,SM Katich,"Punjab Cricket Association Stadium, Mohali",RE Koertzen,I Shivram,NaN
75,76,2008,Delhi,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,NaN
86,87,2008,Delhi,2008-05-08,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,MS Dhoni,Feroz Shah Kotla,Aleem Dar,RB Tiffin,NaN
92,93,2008,Jaipur,2008-05-11,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,SR Watson,Sawai Mansingh Stadium,SJ Davis,RE Koertzen,NaN
97,98,2008,Delhi,2008-05-15,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,normal,0,Delhi Daredevils,12,0,A Mishra,Feroz Shah Kotla,BG Jerling,GA Pratapkumar,NaN
99,100,2008,Delhi,2008-05-17,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,1,Kings XI Punjab,6,0,DPMD Jayawardene,Feroz Shah Kotla,AV Jayaprakash,RE Koertzen,NaN
108,109,2008,Delhi,2008-05-24,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,KD Karthik,Feroz Shah Kotla,BF Bowden,K Hariharan,NaN
124,125,2009,Durban,2009-04-23,Delhi Daredevils,Chennai Super Kings,Delhi Daredevils,bat,normal,0,Delhi Daredevils,9,0,AB de Villiers,Kingsmead,BR Doctrove,SJA Taufel,NaN
132,133,2009,Centurion,2009-04-28,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,5,YK Pathan,SuperSport Park,GAV Baxter,RE Koertzen,NaN
157,158,2009,Durban,2009-05-13,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,normal,0,Delhi Daredevils,12,0,R Bhatia,Kingsmead,DJ Harper,SL Shastri,NaN
160,161,2009,Bloemfontein,2009-05-15,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,B Lee,OUTsurance Oval,HDPK Dharmasena,IL Howell,NaN
164,165,2009,Bloemfontein,2009-05-17,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,14,0,AB de Villiers,OUTsurance Oval,SS Hazare,IL Howell,NaN
166,167,2009,Johannesburg,2009-05-19,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils,bat,normal,0,Royal Challengers Bangalore,0,7,JH Kallis,New Wanderers Stadium,IL Howell,RB Tiffin,NaN
171,172,2009,Centurion,2009-05-22,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,normal,0,Deccan Chargers,0,6,AC Gilchrist,SuperSport Park,BR Doctrove,DJ Harper,NaN
182,183,2010,Delhi,2010-03-17,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,98,0,SR Tendulkar,Feroz Shah Kotla,BR Doctrove,SK Tarapore,NaN
184,185,2010,Delhi,2010-03-19,Delhi Daredevils,Chennai Super Kings,Delhi Daredevils,bat,normal,0,Chennai Super Kings,0,5,ML Hayden,Feroz Shah Kotla,BR Doctrove,SK Tarapore,NaN
196,197,2010,Bangalore,2010-03-25,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,17,0,KM Jadhav,M Chinnaswamy Stadium,BG Jerling,RE Koertzen,NaN
199,200,2010,Delhi,2010-03-29,Delhi Daredevils,Kolkata Knight Riders,Delhi Daredevils,bat,normal,0,Delhi Daredevils,40,0,DA Warner,Feroz Shah Kotla,SS Hazare,SJA Taufel,NaN
202,203,2010,Delhi,2010-03-31,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,67,0,KD Karthik,Feroz Shah Kotla,HDPK Dharmasena,SJA Taufel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,433,2013,Jaipur,2013-05-07,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,9,AM Rahane,Sawai Mansingh Stadium,Aleem Dar,RJ Tucker,NaN
437,438,2013,Delhi,2013-05-10,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Royal Challengers Bangalore,4,0,JD Unadkat,Feroz Shah Kotla,NJ Llong,K Srinath,NaN
442,443,2013,Delhi,2013-04-23,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Harmeet Singh,Feroz Shah Kotla,VA Kulkarni,K Srinath,NaN
453,454,2013,Delhi,2013-05-21,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Chennai Super Kings,48,0,MEK Hussey,Feroz Shah Kotla,NJ Llong,RJ Tucker,NaN
454,455,2013,Delhi,2013-05-22,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,bat,normal,0,Rajasthan Royals,0,4,BJ Hodge,Feroz Shah Kotla,S Ravi,RJ Tucker,NaN
458,459,2014,Sharjah,2014-04-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,8,YS Chahal,Sharjah Cricket Stadium,Aleem Dar,S Ravi,NaN
479,480,2014,Delhi,2014-05-03,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,KK Nair,Feroz Shah Kotla,SS Hazare,S Ravi,NaN
482,483,2014,Delhi,2014-05-05,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,8,DR Smith,Feroz Shah Kotla,RM Deshpande,BNJ Oxenford,NaN
484,485,2014,Delhi,2014-05-07,Delhi Daredevils,Kolkata Knight Riders,Delhi Daredevils,bat,normal,0,Kolkata Knight Riders,0,8,G Gambhir,Feroz Shah Kotla,BNJ Oxenford,C Shamshuddin,NaN
488,489,2014,Delhi,2014-05-10,Delhi Daredevils,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,1,Sunrisers Hyderabad,0,8,DW Steyn,Feroz Shah Kotla,RM Deshpande,BNJ Oxenford,NaN
501,502,2014,Delhi,2014-05-19,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,4,AR Patel,Feroz Shah Kotla,HDPK Dharmasena,PG Pathak,NaN
511,512,2014,Chandigarh,2014-05-25,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,7,M Vohra,"Punjab Cricket Association Stadium, Mohali",HDPK Dharmasena,VA Kulkarni,NaN
522,523,2015,Delhi,2015-04-12,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,DJ Hooda,Feroz Shah Kotla,SD Fry,CB Gaffaney,NaN
530,531,2015,Visakhapatnam,2015-04-18,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,bat,normal,0,Delhi Daredevils,4,0,JP Duminy,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,PG Pathak,S Ravi,NaN
534,535,2015,Delhi,2015-04-20,Delhi Daredevils,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,6,UT Yadav,Feroz Shah Kotla,SD Fry,CB Gaffaney,NaN
538,539,2015,Delhi,2015-04-23,Delhi Daredevils,Mumbai Indians,Mumbai Indians,field,normal,0,Delhi Daredevils,37,0,SS Iyer,Feroz Shah Kotla,SD Fry,CK Nandan,NaN
542,543,2015,Delhi,2015-04-26,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,10,VR Aaron,Feroz Shah Kotla,M Erasmus,S Ravi,NaN
547,548,2015,Delhi,2015-05-01,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,9,NM Coulter-Nile,Feroz Shah Kotla,RK Illingworth,S Ravi,NaN
555,556,2015,Mumbai,2015-05-05,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,bat,normal,0,Mumbai Indians,0,5,Harbhajan Singh,Wankhede Stadium,HDPK Dharmasena,CB Gaffaney,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
577,578,2016,Kolkata,2016-04-10,Delhi Daredevils,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,9,AD Russell,Eden Gardens,S Ravi,C Shamshuddin,NaN
582,583,2016,Delhi,2016-04-15,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,8,A Mishra,Feroz Shah Kotla,S Ravi,C Shamshuddin,NaN
592,593,2016,Delhi,2016-04-23,Delhi Daredevils,Mumbai Indians,Mumbai Indians,field,normal,0,Delhi Daredevils,10,0,SV Samson,Feroz Shah Kotla,S Ravi,C Shamshuddin,NaN
598,599,2016,Delhi,2016-04-27,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,normal,0,Gujarat Lions,1,0,CH Morris,Feroz Shah Kotla,M Erasmus,S Ravi,NaN
601,602,2016,Delhi,2016-04-30,Delhi Daredevils,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Delhi Daredevils,27,0,CR Brathwaite,Feroz Shah Kotla,KN Ananthapadmanabhan,M Erasmus,NaN
608,609,2016,Delhi,2016-05-05,Delhi Daredevils,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Rising Pune Supergiants,0,7,AM Rahane,Feroz Shah Kotla,C Shamshuddin,RJ Tucker,NaN
624,625,2016,Visakhapatnam,2016-05-17,Delhi Daredevils,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,1,Rising Pune Supergiants,19,0,AB Dinda,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Nitin Menon,C Shamshuddin,NaN
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN

-Observe how the subsetting is done (just as in case of R)

### Groupby and Aggregate
- groupby is one of the functions that can be applied on a data frame before aggregating(Remember the dplyr we group by a variable and then summarize on another numerical attribute. 
- We take a data, group by a categorical attribute and get aggregation on a numerical attribute

#### Example: We want to know how many matches are played in each city?
- We need to subset the records for each city and then count the number of records for each city i.e group by city get the records and count

In [12]:
matches.groupby(by='city').aggregate(len)['id']

city
Abu Dhabi          7
Ahmedabad         12
Bangalore         66
Bloemfontein       2
Cape Town          7
Centurion         12
Chandigarh        46
Chennai           48
Cuttack            7
Delhi             60
Dharamsala         9
Durban            15
East London        3
Hyderabad         49
Indore             5
Jaipur            33
Johannesburg       8
Kanpur             4
Kimberley          3
Kochi              5
Kolkata           61
Mumbai            85
Nagpur             3
Port Elizabeth     7
Pune              32
Raipur             6
Rajkot            10
Ranchi             7
Sharjah            6
Visakhapatnam     11
Name: id, dtype: int64

- Observe the syntax..
- Check the output if you have removed ['id'] from the above code.

In [13]:
matches.groupby(by='city').aggregate(sum) #Just as a curius example changed len to sum and for all attributes

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
city,,,,,,
Abu Dhabi,3263,14098,0,157,16,0.0
Ahmedabad,4863,24156,0,180,38,0.0
Bangalore,22299,132861,3,1263,232,0.0
Bloemfontein,326,4018,0,14,6,0.0
Cape Town,858,14063,1,145,18,0.0
Centurion,1842,24108,1,81,49,0.0
Chandigarh,15325,92582,0,576,167,0.0
Chennai,15096,96554,0,715,111,0.0
Cuttack,2534,14086,0,73,20,0.0
Delhi,19600,120771,2,876,192,0.0
Dharamsala,2949,18103,0,279,23,0.0
Durban,2147,30135,1,159,33,0.0
East London,432,6027,0,87,7,0.0
Hyderabad,15907,98649,2,486,184,0.0
Indore,618,10073,0,0,36,0.0
Jaipur,9210,66363,0,460,151,0.0
Johannesburg,1279,16072,0,25,35,0.0
Kanpur,1358,8066,0,0,22,0.0
Kimberley,458,6027,0,53,10,0.0
Kochi,1301,10055,1,110,13,0.0
Kolkata,19973,122783,3,587,224,0.0
Mumbai,26283,171049,0,1102,264,0.0
Nagpur,646,6030,0,15,6,0.0
Port Elizabeth,980,14063,0,200,22,0.0
Pune,11238,64455,0,545,98,0.0
Raipur,3229,12088,0,21,25,0.0
Rajkot,3075,20165,0,70,48,0.0
Ranchi,3439,14097,0,41,24,0.0
Sharjah,2804,12084,0,74,26,0.0
Visakhapatnam,5951,22165,2,282,22,0.0

- You might have observed that the function sum on all the attributes is not meaningfull. See what happened to sum of id.
- Ideally we may want how many matches are played in a city, what is the average runs win or average wickets win, when is the most recent match played etc.. Which means that the aggregation for each variable is differnt. In such cases how do we work
- Given below is one such scenario

In [14]:
matches.groupby('city').aggregate({
    'id': 'count',
    'win_by_runs': 'mean',
    'win_by_wickets': 'mean',
    'date': ['min', 'max']
})

                  id win_by_runs win_by_wickets        date
               count        mean           mean         min         max
city
Abu Dhabi          7   22.428571       2.285714  2014-04-16  2014-04-29
Ahmedabad         12   15.000000       3.166667  2010-03-15  2015-04-24
Bangalore         66   19.136364       3.515152  2008-04-18  2017-05-19
Bloemfontein       2    7.000000       3.000000  2009-05-15  2009-05-17
Cape Town          7   20.714286       2.571429  2009-04-18  2009-04-26
Centurion         12    6.750000       4.083333  2009-04-28  2009-05-22
Chandigarh        46   12.521739       3.630435  2008-04-19  2017-05-09
Chennai           48   14.895833       2.312500  2008-04-23  2015-05-10
Cuttack            7   10.428571       2.857143  2010-03-19  2014-05-14
Delhi             60   14.600000       3.200000  2008-04-19  2017-05-14
Dharamsala         9   31.000000       2.555556  2010-04-16  2013-05-18
Durban            15   10.600000       2.200000  2009-04-21  2009-05-20
East London        3   29.000000       2.333333  2009-05-01  2009-05-08
Hyderabad         49    9.918367       3.755102  2008-04-22  2017-05-21
Indore             5    0.000000       7.200000  2011-05-13  2017-04-20
Jaipur            33   13.939394       4.575758  2008-04-21  2013-05-12
Johannesburg       8    3.125000       4.375000  2009-05-02  2009-05-24
Kanpur             4    0.000000       5.500000  2016-05-19  2017-05-13
Kimberley          3   17.666667       3.333333  2009-05-09  2009-05-11
Kochi              5   22.000000       2.600000  2011-04-09  2011-05-05
Kolkata           61    9.622951       3.672131  2008-04-20  2017-05-13
Mumbai            85   12.964706       3.105882  2008-04-20  2017-05-16
Nagpur             3    5.000000       2.000000  2010-04-05  2010-04-12
Port Elizabeth     7   28.571429       3.142857  2009-04-20  2009-05-16
Pune              32   17.031250       3.062500  2012-04-08  2017-05-14
Raipur             6    3.500000       4.166667  2013-04-28  2016-05-22
Rajkot            10    7.000000       4.800000  2016-04-14  2017-04-29
Ranchi             7    5.857143       3.428571  2013-05-12  2015-05-22
Sharjah            6   12.333333       4.333333  2014-04-17  2014-04-27
Visakhapatnam     11   25.636364       2.000000  2012-04-07  2016-05-21

### Feature Engineering
- Lets create a new variable which says if the match is won by chasing or not

In [15]:
matches['win_by_chase'] = matches.win_by_wickets > 0
matches.sample(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,win_by_chase
265,266,2011,Delhi,2011-04-28,Kolkata Knight Riders,Delhi Daredevils,Delhi Daredevils,field,normal,0,Kolkata Knight Riders,17,0,MK Tiwary,Feroz Shah Kotla,PR Reiffel,RJ Tucker,NaN,False
248,249,2011,Hyderabad,2011-04-16,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,8,PC Valthaty,"Rajiv Gandhi International Stadium, Uppal",RE Koertzen,S Ravi,NaN,True
521,522,2015,Kolkata,2015-04-11,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,3,CH Gayle,Eden Gardens,S Ravi,C Shamshuddin,NaN,True
271,272,2011,Chennai,2011-05-01,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,normal,0,Chennai Super Kings,19,0,JA Morkel,"MA Chidambaram Stadium, Chepauk",Aleem Dar,RB Tiffin,NaN,False
232,233,2010,Mumbai,2010-04-24,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,normal,0,Royal Challengers Bangalore,0,9,A Kumble,Dr DY Patil Sports Academy,RE Koertzen,SJA Taufel,NaN,True
377,378,2012,Pune,2012-05-22,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Kolkata Knight Riders,18,0,YK Pathan,Subrata Roy Sahara Stadium,BR Doctrove,SJA Taufel,NaN,False
141,142,2009,Port Elizabeth,2009-05-03,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,bat,normal,0,Kings XI Punjab,0,6,DPMD Jayawardene,St George's Park,S Asnani,MR Benson,NaN,True
285,286,2011,Hyderabad,2011-05-10,Deccan Chargers,Pune Warriors,Deccan Chargers,bat,normal,0,Pune Warriors,0,6,MR Marsh,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,AM Saheba,NaN,True
310,311,2012,Jaipur,2012-04-06,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,normal,0,Rajasthan Royals,31,0,AM Rahane,Sawai Mansingh Stadium,BF Bowden,SK Tarapore,NaN,False
209,210,2010,Nagpur,2010-04-05,Rajasthan Royals,Deccan Chargers,Rajasthan Royals,bat,normal,0,Rajasthan Royals,2,0,SK Warne,"Vidarbha Cricket Association Stadium, Jamtha",HDPK Dharmasena,SJA Taufel,NaN,False

## Exercises
- For each of these questions, you may write the logic and check how the code is written

#### What is the win percentage of `Chennai Super Kings`?

In [16]:
csk = matches[(matches.team1 == 'Chennai Super Kings') | (matches.team2 == 'Chennai Super Kings')]['winner']
wins = sum(csk == 'Chennai Super Kings')
print('CSK has won {:.2f}% of matches'.format(100*wins/csk.shape[0]))

CSK has won 60.31% of matches

#### What are all the ids of matches played in season 2012? How many matches were played in 2012?

In [17]:
ids_2012 = matches[matches.season == 2012]['id'].unique()
ids_2012

array([308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320,
       321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333,
       334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346,
       347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359,
       360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372,
       373, 374, 375, 376, 377, 378, 379, 380, 381], dtype=int64)

#### Which batsman scored the most runs?

In [18]:
batsmen = deliveries.groupby(by='batsman').aggregate(sum)['batsman_runs']
#batsmen.sort_values(ascending=False).head(1)

In [19]:
batsmen

batsman
A Ashish Reddy           280
A Chandila                 4
A Chopra                  53
A Choudhary               25
A Flintoff                62
A Kumble                  35
A Mishra                 340
A Mithun                  34
A Mukund                  19
A Nehra                   41
A Singh                    2
A Symonds                974
A Uniyal                   4
A Zampa                    5
AA Bilakhia               69
AA Chavan                 12
AA Jhunjhunwala          217
AA Noffke                  9
AB Agarkar               179
AB Barath                 42
AB Dinda                  26
AB McDonald              123
AB de Villiers          3486
AC Blizzard              120
AC Gilchrist            2069
AC Thomas                 20
AC Voges                 181
AD Mascarenhas            79
AD Mathews               724
AD Nath                   20
                        ...
V Kohli                 4423
V Pratap Singh             0
V Sehwag                2728
V Shankar                101
VH Zol                    29
VR Aaron                  46
VRV Singh                  4
VS Malik                   7
VS Yeligati                2
VVS Laxman               282
VY Mahesh                 15
Vishnu Vinod              19
W Jaffer                 130
WA Mota                   56
WD Parnell                63
WP Saha                 1557
WPUJC Vaas                81
Washington Sundar          9
X Thalaivan Sargunam      10
Y Gnaneswara Rao          19
Y Nagar                  285
Y Venugopal Rao          985
YA Abdulla                 0
YK Pathan               2922
YS Chahal                 15
YV Takawale              192
Yashpal Singh             47
Younis Khan                3
Yuvraj Singh            2591
Z Khan                   117
Name: batsman_runs, Length: 461, dtype: int64

#### How many matches were played each season?

In [20]:
n_matches = matches.groupby(by='season').count()['id']
n_matches

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
Name: id, dtype: int64

#### How many runs did Sehwag score against each team?

In [21]:
seh = deliveries[deliveries.batsman == 'V Sehwag'][['batsman_runs', 'bowling_team']]
seh.groupby(by='bowling_team').sum()

                             batsman_runs
bowling_team
Chennai Super Kings                   405
Deccan Chargers                       317
Delhi Daredevils                       80
Kings XI Punjab                       250
Kochi Tuskers Kerala                   95
Kolkata Knight Riders                 305
Mumbai Indians                        431
Pune Warriors                         220
Rajasthan Royals                      316
Royal Challengers Bangalore           255
Sunrisers Hyderabad                    54

#### How many runs did Sehwag score in all?

In [22]:
print('V Sehwag', seh['batsman_runs'].sum())

V Sehwag 2728