In [1]:
import pandas as pd

In [2]:
ipl = pd.read_csv('matches2008-2016.csv')
ipl_new = pd.read_csv('matches2017.csv')

In [3]:
ipl.head(2)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri

In [17]:
ipl_final = ipl.append(ipl_new,ignore_index=True)

In [18]:
ipl_final.tail(2)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
634,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
635,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582.0,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

In [19]:
ipl_final=ipl_final.set_index("match_id")

In [23]:
# rwo number, column, number->iloc
ipl_final.iloc[0:2,0:2]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [1]:
# row name, columan name-> loc
ipl_final.loc[["2008_1","2008_2"],["season","city"]]

NameError: name 'ipl_final' is not defined

In [32]:

## row numbers,columna numbers->loc[index]
ipl_final.loc[ipl_final.index[0:2],["season","city"]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [33]:
## row names,column numbers-> loc[,.columns[]]--> Location(LOC) - if any of them is string
## iloc - if both of them or represented through numbers
                                                    

ipl_final.loc[["2008_1","2008_2"],ipl_final.columns[0:2]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [82]:
import pandas as pd
import numpy as np

In [83]:
labels = ['Pregnant', "Glucose", "BloddPressure","SkinThickness","Insulin","BMI","DiabetsPedigreeFunction","Age","Outcome"]

In [84]:
diabets = pd.read_csv("pima_indians_diabetes.csv",names=labels)

In [85]:
diabets.head(1)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [86]:
diabets.dtypes

Pregnant                     int64
Glucose                      int64
BloddPressure                int64
SkinThickness                int64
Insulin                      int64
BMI                        float64
DiabetsPedigreeFunction    float64
Age                          int64
Outcome                      int64
dtype: object

In [87]:
diabets.head(5)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [88]:
diabets.Pregnant = diabets.Pregnant.astype("category")

In [89]:
diabets.dtypes

Pregnant                   category
Glucose                       int64
BloddPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetsPedigreeFunction     float64
Age                           int64
Outcome                       int64
dtype: object

In [90]:
# Convert the True Non integers to Categorical
diabets.Outcome = diabets.Outcome.astype("category")

In [91]:
    diabetes.dtypes

Pregnant                   category
Glucose                       int64
BloddPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetsPedigreeFunction     float64
Age                           int64
Outcome                    category
dtype: object

In [92]:
# Find the statistics summary for Integer columns to understand the data and find outliers
diabets.describe()

,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [93]:
diabets.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [94]:
# Categorial Values Distribution
diabets.Pregnant.value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnant, dtype: int64

In [95]:

## Identifying Missing Values
diabets.isnull().sum()

Pregnant                   0
Glucose                    0
BloddPressure              0
SkinThickness              0
Insulin                    0
BMI                        0
DiabetsPedigreeFunction    0
Age                        0
Outcome                    0
dtype: int64

In [96]:
## Some time Missing values represtned with Zero value instead actual measure Identify those
diabets.head(6)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [97]:
diabets.iloc[:,1:8]

,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age
0,148,72,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,32
3,89,66,23,94,28.1,0.167,21
4,137,40,35,168,43.1,2.288,33
5,116,74,0,0,25.6,0.201,30
6,78,50,32,88,31.0,0.248,26
7,115,0,0,0,35.3,0.134,29
8,197,70,45,543,30.5,0.158,53
9,125,96,0,0,0.0,0.232,54
10,110,92,0,0,37.6,0.191,30
11,168,74,0,0,38.0,0.537,34
12,139,80,0,0,27.1,1.441,57
13,189,60,23,846,30.1,0.398,59
14,166,72,19,175,25.8,0.587,51
15,100,0,0,0,30.0,0.484,32
16,118,84,47,230,45.8,0.551,31
17,107,74,0,0,29.6,0.254,31
18,103,30,38,83,43.3,0.183,33
19,115,70,30,96,34.6,0.529,32
20,126,88,41,235,39.3,0.704,27
21,99,84,0,0,35.4,0.388,50
22,196,90,0,0,39.8,0.451,41
23,119,80,35,0,29.0,0.263,29
24,143,94,33,146,36.6,0.254,51
25,125,70,26,115,31.1,0.205,41
26,147,76,0,0,39.4,0.257,43
27,97,66,15,140,23.2,0.487,22
28,145,82,19,110,22.2,0.245,57
29,117,92,0,0,34.1,0.337,38
...,...,...,...,...,...,...,...
738,99,60,17,160,36.6,0.453,21
739,102,74,0,0,39.5,0.293,42
740,120,80,37,150,42.3,0.785,48
741,102,44,20,94,30.8,0.400,26
742,109,58,18,116,28.5,0.219,22
743,140,94,0,0,32.7,0.734,45
744,153,88,37,140,40.6,1.174,39
745,100,84,33,105,30.0,0.488,46
746,147,94,41,0,49.3,0.358,27
747,81,74,41,57,46.3,1.096,32
748,187,70,22,200,36.4,0.408,36
749,162,62,0,0,24.3,0.178,50
750,136,70,0,0,31.2,1.182,22
751,121,78,39,74,39.0,0.261,28
752,108,62,24,0,26.0,0.223,25
753,181,88,44,510,43.3,0.222,26
754,154,78,32,0,32.4,0.443,45
755,128,88,39,110,36.5,1.057,37
756,137,90,41,0,32.0,0.391,39
757,123,72,0,0,36.3,0.258,52
758,106,76,0,0,37.5,0.197,26
759,190,92,0,0,35.5,0.278,66
760,88,58,26,16,28.4,0.766,22
761,170,74,31,0,44.0,0.403,43
762,89,62,0,0,22.5,0.142,33
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [98]:

# Replace Missing values(values with zeros) with Nummpy.NAN
diabets.iloc[:,1:8] = diabets.iloc[:,1:8].replace(0,np.nan)

In [99]:
# Check wither they replaced or not
diabets.isna().sum()

Pregnant                     0
Glucose                      5
BloddPressure               35
SkinThickness              227
Insulin                    374
BMI                         11
DiabetsPedigreeFunction      0
Age                          0
Outcome                      0
dtype: int64

In [100]:
diabets.head(6)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0

In [101]:

# Take the back up diabets dataset before we drop the missing value rows(Values with nan)
diabets_na_cols_dropped.dropna(axis=1)

In [102]:
# Drop the missing value rows from backup(for Rows Axis-0 in python, 1 in "R")
diabets_na_rows_dropped = diabets_na_rows_dropped.dropna(axis=0)

In [103]:
print(diabets.shape)
print(diabets_na_rows_dropped.shape)

(768, 9)
(392, 9)

In [104]:
# Take the backup diabets dataset before we drop the missing values columns
diabets_na_cols_dropped = diabets.copy()

In [105]:
# Drop the missing value rows from backup(for Columns Axis-1 in python, 2 in "R"
diabets_na_cols_dropped = diabets_na_cols_dropped.dropna(axis=1)

print(diabets.shape)
print(diabets_na_cols_dropped.shape)

In [106]:
# Impute
from sklearn.preprocessing import Imputer

In [107]:
mean_imputer = Imputer(strategy="mean")

In [108]:
diabets.isnull().sum()

Pregnant                     0
Glucose                      5
BloddPressure               35
SkinThickness              227
Insulin                    374
BMI                         11
DiabetsPedigreeFunction      0
Age                          0
Outcome                      0
dtype: int64

In [109]:
mean_imputed = diabets.copy()

In [110]:
mean_imputed.iloc[:,1:6] = mean_imputer.fit_transform(mean_imputed.iloc[:,1:6])

In [111]:
mean_imputed.isna().sum()

Pregnant                   0
Glucose                    0
BloddPressure              0
SkinThickness              0
Insulin                    0
BMI                        0
DiabetsPedigreeFunction    0
Age                        0
Outcome                    0
dtype: int64

In [112]:
mean_imputed.head(5)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1

In [113]:
from sklearn.preprocessing import MinMaxScaler

In [114]:
range_scaler = MinMaxScaler()

In [115]:
range_scaled = mean_imputed.copy()

In [116]:
range_scaled.iloc[:,1:8] = range_scaler.fit_transform(range_scaled.iloc[:,1:8])

In [117]:
range_scaled.describe()

,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,0.501205,0.493930,0.240798,0.170130,0.291564,0.168179,0.204015
std,0.196361,0.123432,0.095554,0.102189,0.140596,0.141473,0.196004
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.359677,0.408163,0.195652,0.129207,0.190184,0.070773,0.050000
50%,0.470968,0.491863,0.240798,0.170130,0.290389,0.125747,0.133333
75%,0.620968,0.571429,0.271739,0.170130,0.376278,0.234095,0.333333
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [120]:
from sklearn.preprocessing import StandardScaler

In [123]:
standard_scaler = StandardScaler()

In [124]:
standard_scaled = mean_imputed.copy()

In [126]:
standard_scaled.iloc[:,1:8] = standard_scaler.fit_transform(standard_scaled.iloc[:,1:8])

In [129]:
standard_scaled.describe()

,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age
count,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02
mean,-3.301757e-16,6.966722e-16,6.866252e-16,-2.352033e-16,3.553292e-16,2.398978e-16,1.857600e-16
std,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00
min,-2.554131e+00,-4.004245e+00,-2.521670e+00,-1.665945e+00,-2.075119e+00,-1.189553e+00,-1.041549e+00
25%,-7.212214e-01,-6.953060e-01,-4.727737e-01,-4.007289e-01,-7.215397e-01,-6.889685e-01,-7.862862e-01
50%,-1.540881e-01,-1.675912e-02,8.087936e-16,-3.345079e-16,-8.363615e-03,-3.001282e-01,-3.608474e-01
75%,6.103090e-01,6.282695e-01,3.240194e-01,-3.345079e-16,6.029301e-01,4.662269e-01,6.602056e-01
max,2.541850e+00,4.102655e+00,7.950467e+00,8.126238e+00,5.042087e+00,5.883565e+00,4.063716e+00