In [1]:
import pandas as pd

In [5]:
ipl=pd.read_csv('matches2008-2016.csv')
ipl_new=pd.read_csv('matches2017.csv')

In [6]:
ipl.head(2)
ipl_new.head(2)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2017_1,2017,Hyderabad,05-04-2017,SRH,RCB,RCB,field,normal,0,SRH,35,0,Yuvraj Singh,88,"Rajiv Gandhi International Stadium, Hyderabad",4,AY Dandekar,NJ Llong
1,2017_2,2017,Pune,06-04-2017,MI,RPS,RPS,field,normal,0,RPS,0,7,Steven Smith,321,Maharashtra Cricket Association Stadium,32,A Nand Kishore,S Ravi

In [7]:
ipl_final = ipl.append(ipl_new,ignore_index=True)

In [14]:
ipl_final.head(2)
ipl_final.tail(2)
ipl_new.shape
ipl.shape

(577, 19)

In [30]:
ipl_final=ipl_final.set_index("match_id")

In [31]:
ipl_final.iloc[0:2,0:2]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [32]:
ipl_final.loc[["2008_1","2008_2"],["season","city"]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [34]:
ipl_final.loc[ipl_final.index[0:2],["season","city"]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [35]:
ipl_final.loc[["2008_1","2008_2"],ipl_final.columns[0:2]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [9]:
import pandas as pd
import numpy as np

In [10]:
labels = ['Pregnant', "Glucose", "BloddPressure","SkinThickness","Insulin","BMI","DiabetsPedigreeFunction","Age","Outcome"]

In [11]:
diabetes = pd.read_csv("pima_indians_diabetes.csv",names=labels)

In [12]:
diabetes.head(2)
diabetes.tail(2)
diabetes.shape

(768, 9)

In [13]:
diabetes.dtypes

Pregnant                     int64
Glucose                      int64
BloddPressure                int64
SkinThickness                int64
Insulin                      int64
BMI                        float64
DiabetsPedigreeFunction    float64
Age                          int64
Outcome                      int64
dtype: object

In [14]:
diabetes.Pregnant = diabetes.Pregnant.astype("category")

In [15]:
diabetes.dtypes

Pregnant                   category
Glucose                       int64
BloddPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetsPedigreeFunction     float64
Age                           int64
Outcome                       int64
dtype: object

In [16]:
diabetes.Outcome = diabetes.Outcome.astype("category")

In [17]:
diabetes.dtypes

Pregnant                   category
Glucose                       int64
BloddPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetsPedigreeFunction     float64
Age                           int64
Outcome                    category
dtype: object

In [20]:
diabetes.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnant                   768 non-null category
Glucose                    768 non-null int64
BloddPressure              768 non-null int64
SkinThickness              768 non-null int64
Insulin                    768 non-null int64
BMI                        768 non-null float64
DiabetsPedigreeFunction    768 non-null float64
Age                        768 non-null int64
Outcome                    768 non-null category
dtypes: category(2), float64(2), int64(5)
memory usage: 44.4 KB

In [21]:
diabetes.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [33]:
diabetes.Pregnant.value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnant, dtype: int64

In [34]:
diabetes.isnull().sum()

Pregnant                     0
Glucose                      5
BloddPressure               35
SkinThickness              227
Insulin                    374
BMI                         11
DiabetsPedigreeFunction      0
Age                          0
Outcome                      0
dtype: int64

In [35]:
diabetes.head(6)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0

In [36]:
diabetes.iloc[:,1:8]

,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age
0,148.0,72.0,35.0,NaN,33.6,0.627,50
1,85.0,66.0,29.0,NaN,26.6,0.351,31
2,183.0,64.0,NaN,NaN,23.3,0.672,32
3,89.0,66.0,23.0,94.0,28.1,0.167,21
4,137.0,40.0,35.0,168.0,43.1,2.288,33
5,116.0,74.0,NaN,NaN,25.6,0.201,30
6,78.0,50.0,32.0,88.0,31.0,0.248,26
7,115.0,NaN,NaN,NaN,35.3,0.134,29
8,197.0,70.0,45.0,543.0,30.5,0.158,53
9,125.0,96.0,NaN,NaN,NaN,0.232,54
10,110.0,92.0,NaN,NaN,37.6,0.191,30
11,168.0,74.0,NaN,NaN,38.0,0.537,34
12,139.0,80.0,NaN,NaN,27.1,1.441,57
13,189.0,60.0,23.0,846.0,30.1,0.398,59
14,166.0,72.0,19.0,175.0,25.8,0.587,51
15,100.0,NaN,NaN,NaN,30.0,0.484,32
16,118.0,84.0,47.0,230.0,45.8,0.551,31
17,107.0,74.0,NaN,NaN,29.6,0.254,31
18,103.0,30.0,38.0,83.0,43.3,0.183,33
19,115.0,70.0,30.0,96.0,34.6,0.529,32
20,126.0,88.0,41.0,235.0,39.3,0.704,27
21,99.0,84.0,NaN,NaN,35.4,0.388,50
22,196.0,90.0,NaN,NaN,39.8,0.451,41
23,119.0,80.0,35.0,NaN,29.0,0.263,29
24,143.0,94.0,33.0,146.0,36.6,0.254,51
25,125.0,70.0,26.0,115.0,31.1,0.205,41
26,147.0,76.0,NaN,NaN,39.4,0.257,43
27,97.0,66.0,15.0,140.0,23.2,0.487,22
28,145.0,82.0,19.0,110.0,22.2,0.245,57
29,117.0,92.0,NaN,NaN,34.1,0.337,38
...,...,...,...,...,...,...,...
738,99.0,60.0,17.0,160.0,36.6,0.453,21
739,102.0,74.0,NaN,NaN,39.5,0.293,42
740,120.0,80.0,37.0,150.0,42.3,0.785,48
741,102.0,44.0,20.0,94.0,30.8,0.400,26
742,109.0,58.0,18.0,116.0,28.5,0.219,22
743,140.0,94.0,NaN,NaN,32.7,0.734,45
744,153.0,88.0,37.0,140.0,40.6,1.174,39
745,100.0,84.0,33.0,105.0,30.0,0.488,46
746,147.0,94.0,41.0,NaN,49.3,0.358,27
747,81.0,74.0,41.0,57.0,46.3,1.096,32
748,187.0,70.0,22.0,200.0,36.4,0.408,36
749,162.0,62.0,NaN,NaN,24.3,0.178,50
750,136.0,70.0,NaN,NaN,31.2,1.182,22
751,121.0,78.0,39.0,74.0,39.0,0.261,28
752,108.0,62.0,24.0,NaN,26.0,0.223,25
753,181.0,88.0,44.0,510.0,43.3,0.222,26
754,154.0,78.0,32.0,NaN,32.4,0.443,45
755,128.0,88.0,39.0,110.0,36.5,1.057,37
756,137.0,90.0,41.0,NaN,32.0,0.391,39
757,123.0,72.0,NaN,NaN,36.3,0.258,52
758,106.0,76.0,NaN,NaN,37.5,0.197,26
759,190.0,92.0,NaN,NaN,35.5,0.278,66
760,88.0,58.0,26.0,16.0,28.4,0.766,22
761,170.0,74.0,31.0,NaN,44.0,0.403,43
762,89.0,62.0,NaN,NaN,22.5,0.142,33
763,101.0,76.0,48.0,180.0,32.9,0.171,63
764,122.0,70.0,27.0,NaN,36.8,0.340,27
765,121.0,72.0,23.0,112.0,26.2,0.245,30
766,126.0,60.0,NaN,NaN,30.1,0.349,47
767,93.0,70.0,31.0,NaN,30.4,0.315,23

In [37]:
diabetes.iloc[:,1:8] = diabetes.iloc[:,1:8].replace(0,np.nan)

In [38]:
diabetes.head(6)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0

In [26]:
diabetes_na_rows_dropped = diabetes.copy()

In [27]:
diabetes_na_rows_dropped = diabetes_na_rows_dropped.dropna(axis=0)

In [28]:
diabetes_na_rows_dropped.shape

(392, 9)

In [120]:
diabetes.shape

(768, 9)

In [29]:
diabetes_na_cols_dropped = diabetes.copy()

In [30]:
diabetes_na_cols_dropped = diabetes_na_cols_dropped.dropna(axis=1)

In [31]:
diabetes_na_cols_dropped.shape

(768, 4)

In [32]:
from sklearn.preprocessing import Imputer

In [128]:
mean_imputer = Imputer(strategy="mean")

In [130]:
diabetes.isnull().sum()

Pregnant                     0
Glucose                      5
BloddPressure               35
SkinThickness              227
Insulin                    374
BMI                         11
DiabetsPedigreeFunction      0
Age                          0
Outcome                      0
dtype: int64

In [131]:
mean_imputed = diabetes.copy()

In [132]:
mean_imputed.iloc[:,1:6] = mean_imputer.fit_transform(mean_imputed.iloc[:,1:6])

In [134]:
mean_imputed.isna().sum()

Pregnant                   0
Glucose                    0
BloddPressure              0
SkinThickness              0
Insulin                    0
BMI                        0
DiabetsPedigreeFunction    0
Age                        0
Outcome                    0
dtype: int64

In [136]:
mean_imputed.head(6)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
5,5,116.0,74.0,29.15342,155.548223,25.6,0.201,30,0

In [137]:
from sklearn.preprocessing import MinMaxScaler

In [138]:
range_scaler = MinMaxScaler()

In [139]:
range_scaled = mean_imputed.copy()

In [141]:
range_scaled.iloc[:,1:8]= range_scaler.fit_transform(range_scaled.iloc[:,1:8])

In [142]:
range_scaled.describe()

,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,0.501205,0.493930,0.240798,0.170130,0.291564,0.168179,0.204015
std,0.196361,0.123432,0.095554,0.102189,0.140596,0.141473,0.196004
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.359677,0.408163,0.195652,0.129207,0.190184,0.070773,0.050000
50%,0.470968,0.491863,0.240798,0.170130,0.290389,0.125747,0.133333
75%,0.620968,0.571429,0.271739,0.170130,0.376278,0.234095,0.333333
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [143]:
range_scaled.head(6)

,Pregnant,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age,Outcome
0,6,0.670968,0.489796,0.304348,0.170130,0.314928,0.234415,0.483333,1
1,1,0.264516,0.428571,0.239130,0.170130,0.171779,0.116567,0.166667,0
2,8,0.896774,0.408163,0.240798,0.170130,0.104294,0.253629,0.183333,1
3,1,0.290323,0.428571,0.173913,0.096154,0.202454,0.038002,0.000000,0
4,0,0.600000,0.163265,0.304348,0.185096,0.509202,0.943638,0.200000,1
5,5,0.464516,0.510204,0.240798,0.170130,0.151329,0.052519,0.150000,0

In [144]:
from sklearn.preprocessing import StandardScaler

In [145]:
standard_scaler = StandardScaler()

In [146]:
standard_scaled = mean_imputed.copy()

In [147]:
standard_scaled.iloc[:,1:8] = standard_scaler.fit_transform(standard_scaled.iloc[:,1:8])

In [149]:
standard_scaled.describe()

,Glucose,BloddPressure,SkinThickness,Insulin,BMI,DiabetsPedigreeFunction,Age
count,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02
mean,-3.301757e-16,6.966722e-16,6.866252e-16,-2.352033e-16,3.553292e-16,2.398978e-16,1.857600e-16
std,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00
min,-2.554131e+00,-4.004245e+00,-2.521670e+00,-1.665945e+00,-2.075119e+00,-1.189553e+00,-1.041549e+00
25%,-7.212214e-01,-6.953060e-01,-4.727737e-01,-4.007289e-01,-7.215397e-01,-6.889685e-01,-7.862862e-01
50%,-1.540881e-01,-1.675912e-02,8.087936e-16,-3.345079e-16,-8.363615e-03,-3.001282e-01,-3.608474e-01
75%,6.103090e-01,6.282695e-01,3.240194e-01,-3.345079e-16,6.029301e-01,4.662269e-01,6.602056e-01
max,2.541850e+00,4.102655e+00,7.950467e+00,8.126238e+00,5.042087e+00,5.883565e+00,4.063716e+00